<h1> <%= @user.username %> </h1>

<p> <%= @greeting %> </p>

<p> <%= link_to 'Visit ' + @movie.title, @movie %> </p>
<p> Reviewd User: <%= link_to @reviewd_user.username.capitalize, user_url(@reviewd_user) %> </p>
