<div class = "col-md-4 movie-row-margin movie_margin">
  <% if movie.posters.count != 0 %>
    <a href="<%= movie_path(movie) %>"> 
      <%= image_tag movie.display_first_poster, class: "img-responsive img-thumbnail display-first-poster" %> 
    </a>
  <% end %> 
</div>
