<div class = "col-md-4">
  <% if movie.posters.count != 0 %>
    <a href="<%= movie_path(movie) %>"> 
      <%= image_tag movie.display_first_poster, style: "width: 80%; height: 300px;", class: "img-responsive img-thumbnail" %> 
    </a>
  <% end %> 
</div>
