<div class="container">
  <h1>All Movies</h1>

  <%= render @movies %>

  <% if can? :create, @movies %>
    <p> <%= link_to "Create Movie", new_movie_path, class: "btn btn-primary" %> </p>
  <% end %>
</div>
