<div class="container">
  <h1>Reported Reviews</h1>
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Content</th>
          <th>Movie</th>
          <th>Reported Users</th>
          <th>Report Count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @reviews %>
      </tbody>
    </table>
  </div>
</div>
