<div class="container">
  <h1>All Movies</h1>
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @movies %>
      </tbody>
    </table>
  </div>
  <div> <%= paginate @movies, theme: 'twitter-bootstrap-3' %> </div>
  <%= link_to "Create new Movie", new_admin_movie_path, class: "btn btn-primary" %>
</div>
