<h1 align="center" class="heading">Find Movies, Celebrities and more</h1>

<div class="row">
  <section id="latest_movies">
    <h3 class="latest">Latest Movies</h3>
    <%= render @latest_movies %>
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <%= link_to "See All Movies", movies_path(listing_type: "latest_movies"), class: "btn btn-primary see_all" %>
    </div>
    <div class="col-md-5"></div>
  </section>
</div>

<div class="row">
  <section id="featured_movies">
    <h3 class="latest">Featured Movies</h3>
    <%= render @featured_movies %>
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <%= link_to "See All Featured", movies_path(listing_type: "featured_movies"), class: "btn btn-primary see_all" %>
    </div>
    <div class="col-md-5"></div>
  </section>
</div>
