<h1 align="center" class="heading">Find Movies, Celebrities and more</h1>

<section id="latest_movies">
  <h3 align="center" class="latest">Latest Movies</h3>
  <%= render @latest_movies %>
</section>
