.actor_nested_form_select{
  float: left;
  margin-right: 3%;
}

.form-buttons-margin{
  margin-top: 1%;
  margin-bottom: 1%;
}

.form-trailor-margin{
  margin-bottom: 2% !important;
}

.form-appearences-width{
  width: 20% !important;
}

.form-posters-margin{
  margin-bottom: 1% !important; 
  margin-top: 2% !important;
}

.form-appearences-margin{
  margin-bottom: 1% !important;
}

.form-posters-file_field-width{
  width: 20% !important;
}

.index-page-button-margin{
  margin-bottom: 2% !important;
}

.display-first-poster{
  width: 80% !important; 
  height: 300px !important;
}

.poster-width{
  width: 80% !important;
}

.poster-height{
  height: 350px !important;
}

.movie-row-margin{
  margin-bottom: 2%;
}

.avg{
  float: left;
}

.adjust_avg{
  margin-top: 1%;
}

img.raty-cancel {
  display: none;
}

.btn-margin{
  margin-bottom: 2% !important;
}

.pag-margin{
  margin-left: 3% !important;
}

.movie_margin{
  margin-top: 2% !important;
}

.review_body{
  background: gainsboro;
  padding: 12px;
  width: 72.5%;
  border-left: 7px solid cornflowerblue;
}

.text-area-width{
  width: 240% !important; 
}

.review-form-top-margin{
  margin-top: 5%;
}

.review-panel-width{
  width: 60%;
}

.hr-style{
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px ridge floralwhite;
  margin: 1em 0;
  padding: 0;
}

.report-msg{
  display: none;
  color: red
}

.flash-style{
  background-color: #5cb85c;
  width: 47%;
  color: white;
  font-size: 16px;
  border-color: #5cb85c;
  border-left: 6px solid red !important;
}

.delete-link-margin{
  margin-right: 3%;
}

.form-year-margin{
  margin-top: 2% !important;
}
