.actor_nested_form_select{
  float: left;
  margin-right: 3%;
}

.form-buttons-margin{
  margin-top: 1%;
  margin-bottom: 1%;
}

.form-trailor-margin{
  margin-bottom: 2% !important;
}

.form-appearences-width{
  width: 20% !important;
}

.form-posters-margin{
  margin-bottom: 1% !important; 
  margin-top: 1% !important;
}

.form-appearences-margin{
  margin-bottom: 1% !important;
}

.form-posters-file_field-width{
  width: 20% !important;
}

.index-page-button-margin{
  margin-bottom: 2% !important;
}

.display-first-poster{
  width: 80% !important; 
  height: 300px !important;
}

.poster-width{
  width: 80% !important;
}

.movie-row-margin{
  margin-bottom: 2%;
}
