.latest{
  border-radius: 5px;
  width: 39%;
  margin-left: 27.5%;
  margin-bottom: 3%;
  color: black;
  border: 1px ridge indianred;
  padding: 6px;
  font-family: fantasy;
  font-size: xx-large;
}

.heading{
  margin-bottom: 3%;
  margin-left: -5%;
}
