.latest{
  border-radius: 5px;
  width: 39%;
  margin-left: 27.5%;
  margin-bottom: 3%;
  color: black;
  border: 1px ridge indianred;
  padding: 6px;
  font-family: fantasy;
  font-size: xx-large;
  text-align: center;
}

.heading{
  margin-bottom: 3%;
  margin-left: -5%;
}

.see_all{
  width: 100%; 
  margin-left: -19%; 
  margin-top: 5%;
}

.welcome-msg{
  margin-top: 5%;
  color: white;
}

.edit-profile-margin{
  margin-top: 1.4%;
}
