.table-content-width{
  width: 40% !important;
}

.review-btn-margin{
  margin-bottom: 3%;
}

.review-p-style-invalid{
  color: red !important;
  width: 200% !important;
}

.review-p-style-valid{
  color: green !important;
  width: 200% !important;
}
