.profile_pic{
  width: 18%;
  float: left;
  margin-right: 3%;
}

.user_info{
  line-height: 50px;
}

.align-center{
  text-align: center;
}

.form-style{
  background: black;
  padding: 20px;
  margin-top: 5%;
  border-left: 4px solid royalblue;
  border-radius: 5px;
}

.center-margin{
  margin-left: 45%;
  margin-top: 2%;
}

.center-margin2{
  margin-left: 42%;
}

.form-margins{
  width: 41% !important;
  margin-left: -4% !important;
}

.email-width{
  width: 60%;
}
