<div class="container">
  <h1>All Users</h1>
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Signed up at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="users">
        <%= render @users %>
      </tbody>
    </table>
  </div>
  <%= paginate @users, theme: 'twitter-bootstrap-3' %>
  
  <div id="myModal" class="modal fade" role="dialog"> </div>
</div>
